{"Entries":[{"RequestUri":"https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec?api-version=2022-12-01","RequestMethod":"GET","RequestHeaders":{"Accept":"application/json","Authorization":"Sanitized","traceparent":"00-02658d5fef990828b691f9642759e366-3fcdd21d0613185f-00","User-Agent":"azsdk-net-ResourceManager/1.14.0 (.NET 10.0.3; Microsoft Windows 10.0.26200)","x-ms-client-request-id":"Sanitized","x-ms-return-client-request-id":"true"},"RequestBody":null,"StatusCode":200,"ResponseHeaders":{"Cache-Control":"no-cache","Content-Length":"479","Content-Type":"application/json; charset=utf-8","Date":"Sat, 07 Mar 2026 21:44:17 GMT","Expires":"-1","Pragma":"no-cache","Strict-Transport-Security":"max-age=31536000; includeSubDomains","X-Cache":"CONFIG_NOCACHE","X-Content-Type-Options":"nosniff","x-ms-correlation-request-id":"b251f791-a346-4170-9f60-7d64c36dd0c1","x-ms-ratelimit-remaining-subscription-reads":"1099","x-ms-request-id":"b251f791-a346-4170-9f60-7d64c36dd0c1","x-ms-routing-request-id":"EASTUS2EUAP:20260307T214417Z:b251f791-a346-4170-9f60-7d64c36dd0c1","x-ms-throttling-version":"v2","X-MSEdge-Ref":"Ref A: 2E4604BDF6544724BC3B5D7012259EEF Ref B: SN4AA2022301035 Ref C: 2026-03-07T21:44:17Z"},"ResponseBody":{"id":"/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"Az.Sec.AnonymousBlobEnforcement::OptIn":"all_regions"},"subscriptionId":"31b0b6a5-2647-47eb-8a38-7d12047ee8ec","tenantId":"00000000-0000-0000-0000-000000000000","displayName":"Discovery-copilot-devslice1-uksouth","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}}},{"RequestUri":"https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/olawal?api-version=2022-09-01","RequestMethod":"GET","RequestHeaders":{"Accept":"application/json","Authorization":"Sanitized","traceparent":"00-4460605eceed783a85e56a6032f76bd3-fb25b3a0506edc04-00","User-Agent":"azsdk-net-ResourceManager/1.14.0 (.NET 10.0.3; Microsoft Windows 10.0.26200)","x-ms-client-request-id":"Sanitized","x-ms-return-client-request-id":"true"},"RequestBody":null,"StatusCode":200,"ResponseHeaders":{"Cache-Control":"no-cache","Content-Length":"314","Content-Type":"application/json; charset=utf-8","Date":"Sat, 07 Mar 2026 21:44:17 GMT","Expires":"-1","Pragma":"no-cache","Strict-Transport-Security":"max-age=31536000; includeSubDomains","X-Cache":"CONFIG_NOCACHE","X-Content-Type-Options":"nosniff","x-ms-correlation-request-id":"b2173a44-4ae1-49e8-a133-31e81791ce96","x-ms-ratelimit-remaining-subscription-reads":"1098","x-ms-request-id":"b2173a44-4ae1-49e8-a133-31e81791ce96","x-ms-routing-request-id":"EASTUS2EUAP:20260307T214417Z:b2173a44-4ae1-49e8-a133-31e81791ce96","x-ms-throttling-version":"v2","X-MSEdge-Ref":"Ref A: 16EA6AD0A19B422496B11B83180D87C3 Ref B: SN4AA2022301035 Ref C: 2026-03-07T21:44:17Z"},"ResponseBody":{"id":"/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal","name":"olawal","type":"Microsoft.Resources/resourceGroups","location":"uksouth","tags":{"Created":"2026-03-02T15:59:02.3331112Z","RGOwner":"rajakuc","SkipAutoDeleteTill":"2026-12-31"},"properties":{"provisioningState":"Succeeded"}}},{"RequestUri":"https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/storageContainers/test-sc-dotnet01?api-version=2026-02-01-preview","RequestMethod":"GET","RequestHeaders":{"Accept":"application/json","Authorization":"Sanitized","traceparent":"00-c68c2a4bd6c7691569bd4227e6f1e73d-990aa71e38e3d233-00","User-Agent":"azsdk-net-ResourceManager/1.14.0 (.NET 10.0.3; Microsoft Windows 10.0.26200)","x-ms-client-request-id":"Sanitized","x-ms-return-client-request-id":"true"},"RequestBody":null,"StatusCode":200,"ResponseHeaders":{"Cache-Control":"no-cache","Content-Length":"699","Content-Type":"application/json; charset=utf-8","Date":"Sat, 07 Mar 2026 21:44:18 GMT","ETag":"\"00000e9d-0000-1100-0000-69ac8c5f0000\"","Expires":"-1","Pragma":"no-cache","Strict-Transport-Security":"max-age=31536000; includeSubDomains","X-Cache":"CONFIG_NOCACHE","X-Content-Type-Options":"nosniff","x-ms-client-request-id":"Sanitized","x-ms-correlation-request-id":"40c5f431-5e6a-4fcc-983d-9415a734f256","x-ms-providerhub-traffic":"True","x-ms-ratelimit-remaining-subscription-reads":"1097","x-ms-request-id":"02f6311c-a3ee-40d5-a2e2-9708b10438bf","x-ms-routing-request-id":"EASTUS2EUAP:20260307T214418Z:40c5f431-5e6a-4fcc-983d-9415a734f256","x-ms-throttling-version":"v2","X-MSEdge-Ref":"Ref A: A80BEF8869B04C2DB3A2D1BC4EA69BB5 Ref B: SN4AA2022301035 Ref C: 2026-03-07T21:44:17Z"},"ResponseBody":{"id":"/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/storageContainers/test-sc-dotnet01","name":"test-sc-dotnet01","type":"microsoft.discovery/storagecontainers","location":"uksouth","tags":{},"systemData":{"createdBy":"Sanitized","createdByType":"User","createdAt":"2026-03-07T20:22:46.3182573Z","lastModifiedBy":"Sanitized","lastModifiedByType":"User","lastModifiedAt":"2026-03-07T20:35:46.2964063Z"},"properties":{"storageStore":{"storageAccountId":"/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Storage/storageAccounts/mytststr","kind":"AzureStorageBlob"},"provisioningState":"Succeeded"}}},{"RequestUri":"https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/storageContainers/test-sc-dotnet01/storageAssets/test-sa-dotnet01?api-version=2026-02-01-preview","RequestMethod":"PUT","RequestHeaders":{"Accept":"application/json","Authorization":"Sanitized","Content-Length":"122","Content-Type":"application/json","traceparent":"00-4c0a1f6407daa71012b1b24caaf20543-9872f0d8221121cc-00","User-Agent":"azsdk-net-ResourceManager/1.14.0 (.NET 10.0.3; Microsoft Windows 10.0.26200)","x-ms-client-request-id":"Sanitized","x-ms-return-client-request-id":"true"},"RequestBody":{"location":"uksouth","properties":{"description":"Test storage asset for .NET SDK validation","path":"data/test-assets"}},"StatusCode":201,"ResponseHeaders":{"Azure-AsyncNotification":"Enabled","Azure-AsyncOperation":"https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/9909c3c1-e0b1-4553-8e6b-2c2572424754*0B5694BD0CC782D3F3715433BF2AAAAEEC8E34BB09F1D6F9D7AB46B6265C3CEB?api-version=2026-02-01-preview&t=639085166619265692&c=MIIH8TCCBtmgAwIBAgIRAPACEB_3HpzeM1w1SuhmHQ0wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjAyMjAxODUzMTlaFw0yNjA1MTYwMDUzMTlaMEAxP[...]
