{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Discovery-copilot-devslice1-uksouth",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/storageContainers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "68f19965-36dc-45e6-86b0-fcea6715f9d4",
          "a35cba79-50bf-42b7-8131-67e2ee581ebe",
          "a9281100-5f78-4d3a-b94f-7139a243517e",
          "31f38b8b-1263-4fc8-8aaf-6ca3713a510f",
          "1e4de58b-b4df-4ca9-89c9-33d3c54bae3e",
          "626c0603-ae7c-429c-8c46-f9f76252c780"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/deray-private-test/providers/Microsoft.Discovery/storageContainers/testCon",
            "name": "testCon",
            "type": "microsoft.discovery/storagecontainers",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2026-03-07T18:52:52.126411Z"
            },
            "properties": {
              "storageStore": {
                "storageAccountId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/deray-private-test/providers/Microsoft.Storage/storageAccounts/derayprstg",
                "kind": "AzureStorageBlob"
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/storageContainers/test-sc-8bef0d1a",
            "name": "test-sc-8bef0d1a",
            "type": "microsoft.discovery/storagecontainers",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-05T16:28:56.4570289Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-05T16:28:56.4570289Z"
            },
            "properties": {
              "storageStore": {
                "storageAccountId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Storage/storageAccounts/mytststr",
                "kind": "AzureStorageBlob"
              },
              [...]
