{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Discovery-copilot-devslice1-uksouth",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/tools?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "36697c28-bef3-474e-9bbc-40fb3ff27f36",
          "febf04a1-dae4-4649-bcdb-e9d2bafbb57a",
          "ffc511f6-6ed6-4ece-80a4-94f604fa98d6",
          "6717503f-abcb-4720-b92c-ca1e34551645",
          "18df0ccf-b926-4a31-96ce-8d14a9a1ea2b",
          "225b1c8f-2a8c-4c57-a376-a8f9d3873516"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rg-devslice-uksouth/providers/Microsoft.Discovery/tools/itmolptluks1",
            "name": "itmolptluks1",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-09-16T11:09:11.8986542Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-09-16T11:18:07.8437828Z"
            },
            "properties": {
              "environmentVariables": {
                "LOGP_ENDPOINT_ID": "/subscriptions/8bd6cf1f-7ca2-4b66-8ec3-3a7620027b80/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-logp",
                "BOILING_ENDPOINT_ID": "/subscriptions/8bd6cf1f-7ca2-4b66-8ec3-3a7620027b80/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-bp",
                "CRITICAL_ENDPOINT_ID": "/subscriptions/8bd6cf1f-7ca2-4b66-8ec3-3a7620027b80/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-tc",
                "DENSITY_ENDPOINT_ID": "/subscriptions/8bd6cf1f-7ca2-4b66-8ec3-3a7620027b80/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-density",
                "SOLUBILITY_ENDPOINT_ID": "/subscriptions/8bd6cf1f-7ca2-4b66-8ec3-3a7620027b80/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-solubility"
              },
              "version": "1.0.0",
              "definitionContent": {
                "name": "molpredictor",
                "description": "Molecular property prediction for single SMILES strings.",
                "version": "1.0.0",
                "category": "cheminformatics",
                "license": "MIT",
                "infra": [
                  {
                    "name": "worker",
                    "infra_type": "container",
                    "image": {
                      "acr": "demodiscoveryacr.azurecr.io/molpredictor:latest"
                    },
                    "compute": {
                      "min_resources": {
                        "cpu": "1",
                        "ram": "1Gi",
                        "storage": "32",
                        "gpu": "0"
                      },
                      "max_resources": {
                        "cpu": "2",
                        "ram": "1Gi",
                        "storage": "64",
                        "gpu": "0"
                      },
                      "recommended_sku": [
                        "Standard_D4s_v6"
                      ],
                      "pool_type": "static",
                      "pool_size": 1
                    }
                  }
                ],
                "actions": [
                  {
                    "name": "predict",
                    "description": "Predict molecular properties for SMILES strings read from .txt files in a directory. Note, input mount path where the SMILES data will be stored for the computation is \"/app/input_smiles\". Multiple smiles may be processed within the same run as long as they are mounted to the same input path. Outputs will be stored in \"/app/outputs\"\".",
                    "input_schema": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "The property to predict. Must be one of [log_p, boiling_point, solubility, density, critical_point]"
                        }
                      },
                      "required": [
                        "action"
                      ]
                    },
                    "command": "python molpredictor.py --action {{ action }}",
                    "infra_node": "worker"
                  }
                ]
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rp114-rg/providers/Microsoft.Discovery/tools/itmolptlrp114",
            "name": "itmolptlrp114",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2026-01-15T00:[...]
