{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Discovery-copilot-devslice1-uksouth",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/olawal?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal",
        "name": "olawal",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "tags": {
          "SkipAutoDeleteTill": "2026-12-31",
          "Created": "2026-03-07T21:51:58.5374919Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/tools?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4b87f155-9516-49e2-b4a4-6d38defa0713",
          "40b9f79a-ca77-4741-8bbe-d31a050284c8",
          "89480028-10d3-4ab0-9c4d-d9d9d3610dd1",
          "5758e00c-7f2f-4b68-9e23-da312884105f",
          "08535472-2f6c-4200-9f9a-9e1f3c8d23a6",
          "dd5ac52a-e3be-4cce-9cb5-bf0476d0aa87"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/tools/test-tool-50d87c62",
            "name": "test-tool-50d87c62",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-05T16:59:40.0258391Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-05T16:59:40.0258391Z"
            },
            "properties": {
              "version": "1.0.0",
              "definitionContent": {
                "name": "molpredictor",
                "description": "Molecular property prediction for single SMILES strings.",
                "version": "1.0.0",
                "category": "cheminformatics",
                "license": "MIT",
                "infra": [
                  {
                    "name": "worker",
                    "infra_type": "container",
                    "image": {
                      "acr": "demodiscoveryacr.azurecr.io/molpredictor:latest"
                    },
                    "compute": {
                      "min_resources": {
                        "cpu": "1",
                        "ram": "1Gi",
                        "storage": "32",
                        "gpu": "0"
                      },
                      "max_resources": {
                        "cpu": "2",
                        "ram": "1Gi",
                        "storage": "64",
                        "gpu": "0"
                      },
                      "recommended_sku": [
                        "Standard_D4s_v6"
                      ],
                      "pool_type": "static",
                      "pool_size": 1
                    }
                  }
                ],
                "actions": [
                  {
                    "name": "predict",
                    "description": "Predict molecular properties for SMILES strings.",
                    "input_schema": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "The property to predict. Must be one of [log_p, boiling_point, solubility, density, critical_point]"
                        }
                      },
                      "required": [
                        "action"
                      ]
                    },
                    "command": "python molpredictor.py --action {{ action }}",
                    "infra_node": "worker"
                  }
                ]
              },
              "environmentVariables": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/tools/test-tool-dotnet01",
            "name": "test-tool-dotnet01",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
  [...]
